# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#visual files
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
Debug
Visual Micro/*

xPL_TouchSwitch
xPL_Lighting_test
xPL_Lighting

#arduino
arduino-*
